
<h2>FromGroup</h2>

<form [formGroup]="profileForm">
    <div> 
        <label>
            First Name:
            <input formControlName="firstName">
        </label>
    </div>
    <div>
        <label>
            Last Name:
            <input formControlName="lastName">
        </label>
    </div>
    <div>
        <button (click)="updateNames()">Update formgroup</button>
    </div>
</form>

<div *ngIf="displayFirstName && displayLastName">
    Value from FormControl: <b>{{ displayFirstName }} {{displayLastName}}</b>
</div>
