<div fxLayout="column" fxLayoutGap="10px">
    <div fxFlex="100">
        <ul>
            <li>
                <a routerLink="/"> Home </a>
            </li>
            <li>
                <a routerLink="/Login"> Login </a>
            </li>
            <li>
                <a routerLink="/Parent2"> Passing Of Data Parent & Child Example HY</a>
            </li>
            <li>
                <a routerLink="/Form"> Form Example </a>
            </li>
            <li>
                <a routerLink="/DependencyInjection"> Dependency Injection</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>
